
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class=""></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2" class=""></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <!-- Slide One - Set the background image for this slide in the line below -->
    <div class="carousel-item" style="background-image: url('http://www.katathani.com/images/1900x1080/accommodation.slide.19.jpg')">
      <div class="carousel-caption d-none d-md-block">
        <h3></h3>
        <p></p>
      </div>
    </div>
    <!-- Slide Two - Set the background image for this slide in the line below -->
    <div class="carousel-item active" style="background-image: url('http://www.katathani.com/images/1900x1080/accommodation.slide.34.jpg')">
      <div class="carousel-caption d-none d-md-block">
        <h3></h3>
        <p></p>
      </div>
    </div>
    <!-- Slide Three - Set the background image for this slide in the line below -->
    <div class="carousel-item" style="background-image: url('http://www.katathani.com/images/1900x1080/contact-us.slide.82.jpg')">
      <div class="carousel-caption d-none d-md-block">
        <h3></h3>
        <p></p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only"></span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only"></span>
  </a>
</div>

<!-- Page Content -->
<div class="container">  

  <!-- Marketing Icons Section -->
  <app-room-list></app-room-list>

</div>
