<div class="creditCardForm">
  <div class="heading">
      <h1>Add a new Card</h1>
  </div>
  <div class="payment">
      <form>
          <div class="form-group owner">
              <label for="owner">Cardholder Name</label>
              <input type="text" [(ngModel)]="cardholder_name" [ngModelOptions]="{standalone: true}" class="form-control" id="owner">
          </div>
          <div class="form-group owner">
            <label for="billing_Addr">Billing Address</label>
            <input type="text" [(ngModel)]="billing_Addr" [ngModelOptions]="{standalone: true}" class="form-control" id="billing_addr">
        </div>
          <div class="form-group CVV">
              <label for="cvv">CVV</label>
              <input type="text" [(ngModel)]="sec_Code" [ngModelOptions]="{standalone: true}" class="form-control" id="cvv">
          </div>
          <div class="form-group" id="card-number-field">
              <label for="cardNumber">Card Number</label>
              <input type="text" [(ngModel)]="cardNumber" [ngModelOptions]="{standalone: true}" maxlength="16" class="form-control" id="cardNumber">
            </div>
          <div class="form-group" id="expiration-date">
              <label>Expiration Date</label>
              <select [(ngModel)]="month" [ngModelOptions]="{standalone: true}">
                  <option value="01">January</option>
                  <option value="02">February </option>
                  <option value="03">March</option>
                  <option value="04">April</option>
                  <option value="05">May</option>
                  <option value="06">June</option>
                  <option value="07">July</option>
                  <option value="08">August</option>
                  <option value="09">September</option>
                  <option value="10">October</option>
                  <option value="11">November</option>
                  <option value="12">December</option>
              </select>
              <select [(ngModel)]="year" [ngModelOptions]="{standalone: true}">
                  <option value="2018"> 2018</option>
                  <option value="2019"> 2019</option>
                  <option value="2020"> 2020</option>
                  <option value="2021"> 2021</option>
                  <option value="2022"> 2022</option>
                  <option value="2023"> 2023</option>
              </select>
              <label>Card Type</label>
              <select [(ngModel)]="cardType" [ngModelOptions]="{standalone: true}">
                <option value="Visa">Visa</option>
                <option value="Mastercard">Mastercard</option>
                <option value="Amex">Amex</option>
            </select>
          </div>
          <div class="form-group" id="pay-now">
              <button type="submit" (click) = 'addNewCard()' [disabled]="cardNumber==='' || cardholder_name==='' || sec_Code===''" class="btn btn-default" id="confirm-purchase">Confirm</button>
          </div>
      </form>
  </div>
</div>