<!-- Page Content -->
<div class="container hotelfinder-container">
      
        <!-- Page Heading/Breadcrumbs -->
        <h1 class="mt-4 mb-3">Find Hotel
          <small>Search to your heart's content</small>
        </h1>
        
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a routerLink = "/">Home</a>
          </li>
          <li class="breadcrumb-item active">HotelFinder</li>
        </ol>
        
        <!-- Content Row -->
        <div class="row">
          <!-- Content Column Gunna replace this col
          with the hotelist component later -->
          <div class="col-lg-12">
              <app-hotel-list></app-hotel-list>
          </div>
        </div>
        <!-- /.row -->

      </div>
      <!-- /.container -->
