
.welcometron{
	background-image: url(https://awscloudfront.kempinski.com/1460/upper-pool-area-at-dusk.jpg;width=1920;height=1080;mode=crop;anchor=middlecenter;autorotate=true;quality=90;scale=both;progressive=true;encoder=freeimage);
	color: white;
	padding-bottom: 100px;
}